/* 中间部分 */
  #middle{width:1424px;
         margin:0 auto;
         box-sizing:border-box;
         padding-left:80px;
         position: relative;
  }
  #middle:after{content:"";
              display:block;
              clear: both;
  }
  /* 左边图片 */
  #g_left{float:left;
          width:35%;
  }
  .left_photo>img{width:100%}
  .little_photos{width:100%;
               margin-top:10px;
  }
  .l_photo{width:23%;
          margin-right:3px;
  }
  .l_photo:first-child{margin-left:5px;}
  /* 中间介绍 */
  #g_center{width:36vw;
             height:82vh;
             float:left;
             padding:0px 2vw;
             border-right:2px solid #f5f5f5;
  }
  /* 商品描述 */
  .details{font-size:1.4vw;
           font-weight:900;
  }
  /* 商品价格 */
  .price{width:100%;
         height:12vh;
         background-image:url("../img_little/background.png");
         margin-top:2.5vh;
         padding:1vh 2vw;
  }
  .price div{margin-bottom:10px}
  .mumber1{font-size:1.3vw;
          font-weight: 400;
   }
  .mumber2{font-size:30px;
           color:#FA5477;
           font-weight:bold;
  }
  /* 运费 */
  .yunfei{width:100%;
          height:8vh;
          line-height:8vh;
          font-size:1vw;
          padding-left:2vw;

  }
  .yunfei span{margin-right:40px}
  /* 销量 */
   .count{width:100%;
          border-top:1px solid #d0c0c05e;
          border-bottom:1px solid #d0c0c05e;
          height:8vh;
          line-height:7vh;
          font-size:0.9vw;
          margin-right:1.2vw;
  }
   .count>div{display:inline-block;
              width:30%;
              text-align:center;
              border-right:1px solid #d0c0c05e;
              margin:10px auto;           
  }
  .jifen{border:none;}
  /* 尺寸 */
   .size{width:100%;
         height:5vh;
         margin:1vw 1vh;
         display:flex;
        }
   .size_details{width:20%;
                 height:4.5vh;
                 line-height:4.5vh;
                 margin-left:1.5vw;
   }
   .size_fenlei{width:35px;
                height:35px;
                border:1px solid #493f3f5e;
                margin-left:10px;
                text-align:center;
                line-height:35px;
  }
  /* 颜色分类*/
  .color{width:100%}
  .yanse{width:20%;
        margin-left:2vw;
        margin-bottom:1.5vh;
   }
   .color>img{width:20%;
              margin-left:20px;
   }
   /* 购买数量 */
   .count2{margin-top:10px;
           height:50px;
           width:100%;
           display:flex;
           padding:10px;
   }
   .count2 span{margin:0px 20px 0px 10px}
   .buy_count{ display:block;}
   .buy_count input{width:40px;
                    height:30px;
   }
   .buy_count>button{width:2vw;
                      height:2vw;                
   }
   .first_b{margin-top:-5px;}
   .surplus{margin-left:2vw;}
   /* 购买按钮 */
   .switch{padding-left:3vw;}
   .switch>a{float:left;
             border:1px solid red;
             height:50px;
             line-height:50px;
             text-align:center;
             margin-top:10px;
   }
   .buy{width:150px;
        margin-left:20px;
        margin-right:10px;
        background:#FFEDED;
        color:#FF1D4C;
   }
   .shopping_car{width:200px;
                 background:#FF0036;
                 color:white;
                
   }
   /*服务提示 */
  .fuwu{display:flex;
        margin:11vh auto 11vh;
        width:83vw;
        font-size:14px;
        background:#f7f7f7;
        height:7vh;
        padding:2vw 10vh;
   }
  .fuwu>div{margin-right:2vw;}
  .buy_lei{border:1px solid black;}
  .fuwu_left>span{margin-right:1vw;}
  .kong{height:3vh;}
  /* 右边类似 轮播图*/
   /* 标题 */
  .right_title{width:17vw;
               display:flex;
               margin:1vh 0vw;
               padding:0vh 4vw;  
  }
 .right_title>div:first-child,.right_title>div:last-child{
           width: 2vw;
           margin-top: 1vh;        
  }
  .right_title>div:first-child{ margin-right: 0.5vw;}
  .right_title>div:last-child{margin-left:0.5vw;}
  /* 轮播图图片 */
   #g_right{width:17vw;
           height:74vh;
           float:left;
           display:flex;
           overflow: hidden;
  }
  .right_photos{width:10.5vw;
                margin:0 3vw;}
  #g_right img{width:10.5vw;}
  /* 轮播图指示符 */
  .zhishifu{position: absolute;
           right:4vw;
           bottom:0vh;
           display:flex;
           width:13vw;
  }
  .yuan{width:1vw;
        height:1vw;
        border-radius:50%;
        border:2px solid black;
        margin-left:2vw; 
  }
  .left_jt{position: absolute;
           left:72vw;
           bottom:0vh;
  }
  .right_jt{position: absolute;
           right:3vw;
           bottom:0vh;
  }
  /* 商品详情 */
  #xiangqing{width:82vw;
            height:9vh;
            margin:0vh auto;
            border:1px solid #f7f7f7;
            display: flex;
            border-top:2px solid #f7f7f7;
  }
  /* 商家信息 */
  .shangjia{width:15vw;
            height:26vh;
            border:1px solid #e5e5e5;
            margin-top:2px;
            background:#fff;
            font-size:1vw;
  }
  .shangjia>div:not(:first-child){
          display:flex;
          height:6vh;
          line-height: 6vh;
  }
  .s_title{background:#FAFAFA;
           height:8vh;
           line-height: 8vh;
           text-align: center;
           border:1px solid #E5E5E5;        
  }
  .shangjia>.s_center{height:10vh !important;
                      color:#999999;
            
  }
  .s_center>div{width:20%;
                height:4vh;
                text-align: center;
                margin-left:1.5vw;
  }
  .s_center>div div:last-child{font-size:0.3vh;
                                color:green;
                                margin-top:-2.5vh;
  }
  .s_bottom>div{border:1px solid #E5E5E5;
                margin-left:1.5vw;
                text-align: center;
                height: 5vh;
                line-height: 5vh;
                width:5vw;

  }
  .into{background:#333333;
   }
   .into>a{color:#e5e5e5}
   .collect{background-color:#f5f5f5}
  /* 详情标题 */
  .r_xiang{width:81%;
           height:9vh;
           background:#f7f7f7;
           margin-left:1vw;
  }
  .x_title{display:flex;
           width:55vw;
           height:9vh;
           line-height: 9vh;
           background:#f7f7f7;
           text-align: center
  }
  .x_title>div,.hideen>div{width:11vw;}
  .hidden{position:fixed;
          top:0vh;
          left:24.5vw;
          display:none;
          width:66vw;
          height:9vh;
          line-height: 9vh;
          background:#f7f7f7;
}
.hidden>div{display:inline-block;
            width:11vw;
            text-align: center;
}
  /* 详细文字 */
  .details_word{color:#999999;
                padding:4vh 2vw 1vh;
                font-size:2vh;
                border:1px solid #e6e6e6;
  }
  .details_word>div{margin:1vh 1vw;
                    display:flex;
                    justify-content: space-between;
                    margin-right:8vw;
  }

  /* 详情图片 */
  .x_photo{ padding:0vh 2vw;
            margin-top:5vh;
  }

  