 /*中间*/
  #middle{height:91vh;
          width:90vw;
		      margin:0 auto;
          background-repeat:no-repeat;
	        background-size:cover;
          display:flex;
  }
  /*左侧边栏*/
  /* 最外层 */
  #left_aside{width:24vw;
              box-sizing:border-box;
  }
  /*小背景和大背景的父元素 */
  .fu{display:inline-block;
      position:relative;
      text-align:center;
      width:21.4vw;
      height:6.5vh;
      border:2px solid #d99f94;
      box-sizing:border-box;
  }
   /*左侧悬浮小背景*/
  .zhuan{width:100%;
         height:8vh;
         display:block;
         font-size:3.5vh;
         position: relative;
  }
  .zhuan>div{position: absolute;
             left:7vw;
             top:0.5vh;
             backface-visibility:hidden;
             transition:1s;
  }
  .zhuan2,.zhuan4,.zhuan6{color:red;
          transform:rotateY(180deg);
  }
  .zhuan:hover .zhuan1,.zhuan:hover .zhuan3,.zhuan:hover .zhuan5{
    transform:rotateY(180deg);
  }
  .zhuan:hover .zhuan2,.zhuan:hover .zhuan4,.zhuan:hover .zhuan6{
    transform:rotateY(360deg);
  }
  .zhuan>.zhuan3,.zhuan>.zhuan4{position: absolute;
                  left:7.5vw;
                  top:0.5vh;
  }
  .zhuan>.zhuan5,.zhuan>.zhuan6{position: absolute;
                                left:8vw;
                                top:0.5vh;

  }
  /*左侧悬浮大背景*/
  .fenlei{text-align:center}
  .huan_q{color:black}
  .huan_q:hover{color:white}

  .lovers{position:absolute;
         visibility:hidden;
         z-index:5;
         top:-7.3vh;
         left: 101%;
   }
  .p_f{position:absolute;
       visibility:hidden;
       z-index: 5;
       top: -14.3vh;
       left: 101%;
  }
  .girls_f{position:absolute;
    visibility:hidden;
    z-index: 5;
    top: -21.3vh;
    left: 101%;
  }
  .g_f{position:absolute;
    visibility:hidden;
    z-index: 5;
    top: -28.3vh;
    left: 101%;
  }
  .b_f{position:absolute;
    visibility:hidden;
    z-index: 5;
    top: -35.3vh;
    left: 101%;
  }
  .c_f{position:absolute;
     visibility:hidden;
     z-index: 5;
     top: -42.3vh;
     left: 101%;
  }
  .shoes{position:absolute;
    visibility:hidden;
    z-index: 5;
    top: -49.3vh;
    left: 101%;
  }
  .xianglian{position:absolute;
    visibility:hidden;
    z-index: 5;
    top:-56.3vh;
    left: 101%;
  }
  .ershi{position:absolute;
    visibility:hidden;
    z-index: 5;
    top:-63.3vh;
    left: 101%;
  }
  .shoushi{position:absolute;
    visibility:hidden;
    z-index: 5;
    top:-70.3vh;
    left: 101%;
  }
  .toushi{position:absolute;
    visibility:hidden;
    z-index: 5;
    top:-77.3vh;
    left: 101%;
  }
  .qita{position:absolute;
        visibility:hidden;
        z-index: 5;
        top:-84.3vh;
        left: 101%;
  }
  .h{width:68vw;
   height:90.5vh;
	 background-color:rgba(0,0,0,0.1);
	 font-family:"微软雅黑";
	 list-style:none;
	 display:flex;
	 padding:50px;
	 justify-content:space-around;
  }
  .fu:hover .h{visibility:visible      
  }


  /*轮播*/
  #lunbo{height:90.5vh;
         width:68vw;
         background-repeat:no-repeat;
	       background-size:cover;
         position:relative;
     }
  /* 包含图片的div */
  #lunbo>div{display:flex;
             overflow: hidden;
             z-index: 1;
  }
  /* 轮播图的图片 */
  #lunbo img{width:68vw;
             height:90.5vh;
  }
  /* 指示符的父元素 */
  #lunbo>.buttons{
    position: absolute;
    bottom:20px;
    z-index: 2;
    margin-left:15vw
  }
  /* 指示符 */
  .buttons>div{
    width:2vw;
    height:4vh;
    margin:5vh;
    border-radius: 50%;
    text-align: center;
    padding:0.5vh;
    background:#fff;
  }

  
 /*右侧边栏*/
  /* 右侧边栏最大父元素*/
  .right_aside1{width:2.5vw;
               height:100vh;
			         position:fixed;
			         top:0px;
               right:0px;
               background-color:#f5f5f5; 
   }
   /* 包含图片和文字胡div */
   .w_f{width:1.8vw;
        height:4vh;
        background:#fff;
      }
   /* 包含图片的div */
   .photo_r{width:1.5vw;
            height:3.2vh;
            background:url("../img/index_side_right.png") #ff5000;
            background-repeat:no-repeat;
            background-size:cover;
            position: relative;
            z-index: 3;
            }
    /* 中间遮挡*/
    .zhedang{width:4vw;
             height:4vh;
             position: absolute;
             top:0vh;
             left:0vw;
             z-index: 2;
             background:#f5f5f5;

    }
    /* 图片下的文字*/
    .wenzi{width:4vw;
           position: absolute;
           right:-5vw;
           top:0.1vh;
           font-size:2vh;
           color:#fff;
           background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
           transition:1s;
           z-index: -1;
           border-top-left-radius: 5px;
           border-bottom-left-radius: 5px;
    }
    .w_f:hover .wenzi{visibility: visible;
                      transform: translateX(-6.8vw);
                      
    }
    /* 购物车 */
   .shopping_car{width:1vw;
                 position:absolute;
                 left:0.6vw;
                 top:20vh;
   }
  /* 购物车图片 */
  .sc_p{background-color:rgba(255,255,255,0);
        margin-left:-0.4vw;}
  
  /* 我的收藏 */
  .shoucang{position: absolute;
            top:34vh;
            left:0.4vw;         
  }
  /* 我的收藏图片 */
  .shoucang_p{background-position: 0vh -2.2vw;}

  /* 我的消息 */
  .my_msg{position: absolute;
          top:41vh;
          left:0.4vw;
          }
  /* 我的消息的图片 */
  .my_msg_p{background-position: 0vh -6.2vw;}
 
  /* 个人中心 */
  .my_only{position: absolute;
           top:48vh;
           left:0.4vw;
  }
  .my_only_p{background-position: 0vh -4.2vw;}

  /* 二维码 */
  .erwei{width:1.8vw;
          height:2.2vh;
          position:absolute;
          bottom:18vh;
          left:0.4vw;
  }



/*楼层*/
 #louceng{width:90%;
          box-sizing:border-box;
          margin:0 auto;
 }
 /*楼层总样式*/
 .yilou,.erlou,.sanlou{
        width:100%;
        font-size:35px;
        color:#f7d2a1
 }
 /* 每层楼上下层的样式 */
 .louceng1_1,.louceng1_2,.louceng2_1,.louceng2_2,.louceng3_1,.louceng3_2,.photos{display:flex}
 /* 大图片的样式 */
 .g1>img,.b1>img,.c1>img{width:100%;}
 /* 包括单个商品div的样式 */
 .g1,.b1,.c1{
    width:20%;
	  margin:10px 8px;
	  box-sizing:border-box;
	  transition-property:all;
    transition-duration:1s;
    position: relative;
  } 
  .g1:hover,.b1:hover,.c1:hover{
      border:2px solid #d99f94;
      transform:scale(1.1);
			background:rgba(255,255,255,0.5);
			box-sizing:border-box;
			border-radius:5px;	
  }
  /* 遮罩 */
  .zhezhao1,.zhezhao2{width:50%;
                      height:54.8vh;
                      background: rgba(25,25,25,0.2);
                      
  }
  .zhezhao1{position: absolute;
            top:0vh;
            left:50%;
            visibility: hidden;
  } 
  .zhezhao2{position: absolute;
            top:0vh;
            right:50%;
            visibility: hidden;}       
  .g1:hover .zhezhao1,.g1:hover .zhezhao2{visibility: visible;
                                          width: 0%;
                                          transition: width 2s;
  }
  /* 包括小照片的样式 */
  .photos{width:100%;
          box-sizing:border-box;
		      flex-wrap:wrap;
		      justify-content:space-between;
		      border:2px solid #d99f94;
		      border-radius:5px;
  }
  /* 包括小照片div的样式 */
  .little_photo{width:22%;
				        box-sizing:border-box;
                border:1px solid #d99f94;
				        border-radius:5px;
  }
  .little_photo>img{width:100%}
  /* 价钱的样式 */
  .price{color:#F40;
         font-size:3.5vh;
         margin-left:5px;
  }
  .baoyou{display:inline-block;
          width:2.5vw;
          height:3vh;
          background-color:#F40;
          color:#fff;
          font-size:2vh;
          text-align: center;
  }
  .particulars:hover{color:#F40}

  /* 尾部 */
